.content-contener{
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.content-box{
  display: flex;
  flex-direction: column;
  background-color: #e1f5e1;
  margin-bottom: 50px;
  border: 2px solid #eff9ef;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.content-head{
  background-color: #54545484;
  text-align: center;
  padding: 1px;
  
}



.content{
  padding: 30px;
  border-bottom: 1px solid #b8b5b5;
  
}

.content p{
  text-align: right;
  color: inherit;
  font-weight: 800;
  font-size: 26px;
}

.content img{
  width: 100%;
  
}



.content-item{
  padding: 30px;
  border-bottom: 1px solid #b8b5b5;
  background-color: #fff;
  text-align: center;
}


.content-item img{
  width: 100%;
}

.box{
  display: flex;
  flex-direction: row-reverse;
  margin: 120px 70px;
  background-color: #eff9ef;
  border: 2px solid #eff9ef;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;

}

.item{
  background-color: #ddd;
  padding: 5px;
  border: 2px solid #eff9ef;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: 17px;
  text-decoration: none;
  color: #333;
}

.item:hover{
  background-color: #C0C0C0;
}


