.content-contener{
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  background-color: #e1f5e1;
  border: 2px solid #eff9ef;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 25px;
  margin-bottom: 35px;

}

.content p{
  text-align: right;
}


.content-box-contener{
  display: flex;
  flex-direction: column;
  background-color: #e1f5e1;
  margin-bottom: 100px;
  border: 2px solid #eff9ef;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.content-head{
  background-color: #54545484;
  text-align: center;
  padding: 1px;
  font-weight: 600;
  font-size: 24px;
  
}



.content-box{
  padding: 30px;
  border-bottom: #333;
  background-color: #fff;
  text-align: center;
}

.content-item{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.content-item h3{
  text-align: center;
}


.box{
  display: flex;
  flex-direction: row-reverse;
  margin: 120px 70px;
  background-color: #eff9ef;
  border: 2px solid #eff9ef;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;

}

.item{
  background-color: #ddd;
  padding: 5px;
  border: 2px solid #eff9ef;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: 17px;
  text-decoration: none;
  color: #333;
}

.item:hover{
  background-color: #C0C0C0;
}
